.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(183, 195, 206);
  }
  
  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin-bottom: 16px;
    
  }